{% extends 'base.html' %}

{% block contents1 %}

{% if request.user.is_authenticated %}
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="user/logout">로그아웃</a></li>
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="/createWork">Make</a></li>

                        {% else %}
                        <li class="nav-item"><a class="nav-link" href="user/login">로그인</a></li>
                        <li class="nav-item"><a class="nav-link" href="user/signup">회원가입</a></li>
                        {% endif %}

{% endblock %}

{% block contents2 %}

{% for work in works %}
                    <div class="col mb-5">

                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{% static 'assets/original.jpg' %}" alt="..." />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{work.id}}</h5>
                                    <!-- Product price-->
                                     <a href = "listAt/{{work.id}}"> {{work.title}} </a>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                            </div>
                        </div>
                        {% endfor%}

{% endblock %}